/* common  styles  */
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700;800;900&display=swap');

*{
    padding: 0;
    margin: 0;
}
body{
   
}
section{
    max-width: 1320px;
    margin: 50px auto;
    
}
a{
    text-decoration: none;
}
p{
    color: rgba(7, 2, 17, 0.60);
}

/* banner section  */

.banner{
    height: 600px;
    background: url(resources/Banner\ Image.png), rgba(0, 0, 0, 0.5);
    background-size: cover;
    border-radius: 16px;
    background-blend-mode: overlay;
   }
.banner p{
    padding-top: 150px;
    color: #fff; 
    text-align: center;
    font-size: 32px;
    font-family: Merriweather;
    text-shadow: 2px 2px #000000;
}
.banner h2{
    color: #FFF;
    text-align: center;
    font-family: Merriweather;
    font-size: 72px;
    text-shadow: 2px 2px #000000;
    }

    /* offer  section  */

    .offer h2{
        color: #f00;
        text-align: center;
        font-size: 88px;
        font-family: Inter;
        padding-top: 20px;
    }
    .offer p{
        color: #F00;
        text-align: center;
        font-family: Inter;
        font-size: 24px;
        font-weight: 500;
    }
    .offer h3{
        color: #070211;
        text-align: center;
        font-family: Inter;
        font-size: 48px;
        font-weight: 700;     
    }
    .offer img{
        width: 800px;
        height: 500px;
        display: block;
        margin: 0 auto;
       
    }

    /* welcome section  */
    .welcome{
        
        background: url(resources/Vectorrr.png), url(resources/Group\ 70.png),rgba(251, 217, 217, 0.3);
        height: 600px;
        background-position: right bottom, right 120px bottom 20px;
        border-radius: 16px;
        background-repeat: no-repeat, no-repeat;
        background-blend-mode: overlay;
        
    }
    .welcome-content{
        padding-left: 100px;
        padding-top: 150px;
    }
    .welcome h2{
        color: #FFF;
        font-family: Merriweather;
        font-size: 64px;
        font-style: normal;
        font-weight: 900;
        line-height: 88px; /* 137.5% */
        letter-spacing: 7.04px;
     }
     .welcome p{
        color: rgba(255, 255, 255, 0.80);
        font-family: Inter;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 30px;
     }
     .welcome a{
        color: #ffffff;
        font-family: Inter;
        font-size: 20px;
        font-weight: 700;
        text-transform: uppercase;
        text-shadow: 2px 2px #000000;
        line-height:  55px;
     }
     /* shedule section  */

     .shedule{
        height: 480px;
        background: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);
        border-radius: 16px;
        

     }
     .shedule-content{
        text-align: center;
        padding-top: 10%;
     }
     .shedule-content span{
        color: red;
     }
     .shedule-content h3{
      font-family: Inter;
      font-size: 32px;
      font-style: normal;
      font-weight: 600;
      line-height: 56px; 
      text-transform: capitalize;
     }
     .shedule-content button{
        background: #f00;
        text-align: center;
        font-family: Inter;
        border: 0;
        padding: 5px;
        font-size: 20px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        text-transform: uppercase;
        margin-top: 25px;
     }
     .shedule-content button a{
        color: #fff;
    }

    /* best offer section  */

    .best-offer{
      
        display: flex;

    }
    .best-column{
        width: 33%;
        padding: 10px;
    }
    .best-column h2{
        color: #070211;
        font-family: Merriweather;
        font-size: 48px;
        font-style: normal;
        font-weight: 900;
        line-height: normal;
        text-transform: capitalize;
     }
     .best-column h3{
        color: #F00;
        text-align: center;
        font-family: Inter;
        font-size: 24px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
     }
     .best-column span{
        color: #F00;
     }
     .best-column .happy{
        height: 140px;
        width: 140px;
     }
     .best-star{
        border-radius: 50%;
        border: 20px solid white;
        outline: 10px solid red;
     }
     /* holiday section  */
     .holiday-content{
      text-align: center;
      padding: 100px;
     }
     .holiday-content span{
      color: red;
      
     }
     .holiday-content h2{
       padding: 10px;
       font-size: 72px;
     }
     .holiday-image{
      display: block;
      height: 600px;
       background: url(resources/Rectangle\ 1.png),url(resources/Rectangle\ 2.png), url(resources/Group\ 75.png), url(resources/Group\ 44.png);
       background-position: right 0 top 0, right 0 bottom 0, left 0 top 0, right 250px top 60px;
       background-repeat: no-repeat, no-repeat;
       background-blend-mode: overlay;
       
     }

     /* awesome-portfolio section  */
     .awesome-portfolio h4{
      padding-top:50px;
        color: #F00;
        font-family: Inter;
        font-size: 24px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
     }
     .awesome-portfolio h2{
        color: #070211;
        font-family: Merriweather;
        font-size: 48px;
        font-style: normal;
        font-weight: 900;
        line-height: 60px;
        text-transform: capitalize;
     }
     .awesome-portfolio p{
        padding: 0px 0 20px 0;
     }
     .gift-product{
        display: inline-block;
       
     }
     .gift-product img{
        display: inline-block;
        width: 33%;
        height: 450px;
        border-radius: 16px;
       
        opacity: 1;
        transition: .3s ease-in-out;
     }
     .gift-product img:hover{
        
        opacity: .7;
   
    
     }

     /* subscriber section  */
     .subscriber{
        height: 600px;
        background:rgba(255, 0, 0, 0.05);
     }
     .subscriber-content{
        text-align: center;
        padding: 150px;
     }
     .subscriber img{
        height:150px;
        width: 150px;

     }
     .subscriber h2{
        color: #070211;
        text-align: center;
        font-family: Merriweather;
        font-size: 48px;
        font-style: normal;
        font-weight: 900;
        line-height: normal;
        text-transform: capitalize;
     }
     .subscriber form{
        margin-top: 20px;
     }
     .subscriber input{
        padding: 10px;
        border:0;
        font-size: 16px;
        border-radius: 50px 0px 0px 50px;
       
     }
     .subscriber button{
        background: red;
        padding: 12px 20px;
        font-size: 12px;
        color: white;
        border-radius: 0px 50px 50px 0px;
        border:0;
     }

     /* footer section  */

     footer{
        background: #070211;
        padding: 0 100px;
     }
     .footer-contact{
        display: flex;
        justify-content: space-between;
     }
     .contact-address p{
        color: white;
     }
     .contact-address {
        padding: 100px 150px;
     }

     .footer-socialbar{
        text-align: center;
        padding: 20px;
        border-top: 1px solid #333;
        border-bottom: 1px solid #333;
     }
     .footer-socialbar img{
        height: 64px;
        width: 64px;
     }
     .footer-rights{
        display: flex;
        justify-content: space-between;
        padding: 10px;
    }
    .footer-rights p{
        color: white;
    }
